:root {
  --bg-color: #006BB6;
  --nav-color: #FDB927;
  --title-color: #002F6C;
  --ptsbar-color: #1D428A;
  --rbsbar-color: #BE3A34;
  --astbar-color: #00A9E0;
  --bartext-align: center;
  --bartext-color: white;
  --bartext-size: 15px;
  --border-type: solid;
  --border-color: black;
}

.nav__controls {
  grid-column: 2;
  /* grid-column: 3;
  grid-row: 1; */
}
